.body{
    background-color:rgb(15,15,15);
    padding-left: 200px;
    padding-top: 50px;
    padding-bottom: 55px;
    user-select: none;
}


.header{
    z-index: 100;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex:1;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    right:0;
    height:55px;
    
}
.header-left{
    display: flex;
    width:230px;
    background-color: rgb(15, 15, 15);
}
.header-menu{
    padding: 6px;
    width:24px;
    height:22px;
    margin:11px 8px 25px 18px;
    cursor: pointer;
    border-radius: 20px;
}
.header-menu:hover{
    background-color: rgb(50,50,50);
}
.header-logo{
    width:130px;
    height: 30px;
    margin-top: 10px;
    margin-left: 2px;
    cursor: pointer;
}

.header-middle{
    flex:1;
    max-width:700px;
    background-color: rgb(15, 15, 15);
}
.header-right{
    display: flex;
    width:200px;
    background-color: rgb(15, 15, 15);
}
.create{
    width:24px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 13px;
    margin-left: 30px;
    border-radius: 24px;

}
.create:hover{
    cursor: pointer;
    background-color: rgb(35,35,35);
}
.bell{
    width:24px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 13px;
    margin-left: 5px;
    background-color: rgb(15, 15, 15);
    border-radius: 24px;
}
.bell:hover{
    cursor: pointer;
    background-color: rgb(35,35,35);
}
.user{
    width:24px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 13px;
    margin-left: 5px;
    border-radius: 24px;

}
.user:hover{
    cursor: pointer;
    background-color: rgb(35,35,35);
}
.middle-search{
    flex: 1;
    display: flex;
    margin-left: 50px;
    margin-right: 20px;
    justify-content: space-between;
}
.search-button{
    position: relative;
    width: 19px;
    padding: 10px 20px 11px 20px;
    margin-top: 8px;
    margin-left:1px;
    border: 0px;
    cursor: pointer;
    border-style: solid;
    border-radius: 0px 20px 20px 0px;
    box-shadow: inset 0px 0px 1px 1px rgb(255,255,255,0.20);
    border-color: rgba(255,255,255,0.20);
    background-color: rgb(35,35,35);
}
.search-form{
    background-color: rgb(15,15,15);
    padding: 0px;
    border: 0px;
}
.search-bar{
    z-index: 100;
    color: rgb(255, 255, 255);
    padding: 0px 0px 0px 25px;
    background-color: rgb(15,15,15);
    flex: 1;
    margin-right: -5px;
    border:0px;
    border-style: solid;
    height:40px;
    border-radius: 20px 0px 0px 20px;
    margin-top: 8px;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.20);
    
}
.search-bar:focus{
    outline-style:solid;
    outline-width: 0px;
    outline-color: rgb(0, 162, 255);
    box-shadow: inset 0px 0px 1px 1px rgb(0, 162, 255);
}
.microphone{
    width:25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 6px 6px 6px 6px;
    border:0px;
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(30,30,30);
}
.mirophone:hover{
    cursor: pointer;
}
.horizontal-scroll{
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 200px;
    background-color: rgb(15,15,15);
    position: fixed;
    top:55px;
    left:0;
    right:0;
    overflow:scroll;
    white-space:nowrap;
}
.horizontal-scroll p{
    margin: 3px 5px 0px 5px;
    border-radius: 10px;
    background-color: rgb(35,35,35);
    display: inline-block;
    color: white;
    font-weight:500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 8px 13px 8px 13px;
    cursor: pointer;
    transition:background-color 0.25s, color 0.25s;
    
    
}
.horizontal-scroll p:active{
    background-color:white ;
    color:gray
}
.side-bar{
    z-index: 80;
    background-color: rgb(15,15,15);
    position: fixed;
    top:50px;
    left:0;
    bottom: 0;
    width: 200px;
    overflow:scroll;
    white-space:nowrap;
}
.home{
    width:45px;
    padding: 0px 10px 0px 8px;
}
.home-button{
    margin-left: 8px;
    align-items: center;
    padding: 0px;
    background-color:rgb(15,15,15);
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.home-button:hover{
    background-color: rgb(35,35,35);
}
.home-button:active{
    background-color: rgb(70,70,70);
}
.shorts{
    width: 48px;
    padding: 0px 4px 0px 6px;
}
.shorts-button{
    margin-left: 8px;
    align-items: center;
    padding: 0px;
    background-color:rgb(15,15,15);
    margin-top: 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.shorts-button:hover{
    background-color: rgb(35,35,35);
}
.shorts-button:active{
    background-color: rgb(70,70,70);
}
.history1{
    width:25px;
    padding: 8px;
    background-color: rgb(115,115,115);
    border-radius: 25px;
}
.history1-button{
    margin-left: 8px;
    align-items: center;
    padding-left: 8px;
    background-color:rgb(15,15,15);
    margin-top: 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.history1-button:hover{
    background-color: rgb(35,35,35);
}
.history1-button:active{
    background-color: rgb(70,70,70);
}
.subscriptions{
    width: 45px;
}
.subscriptions-button{
    margin-top: 1px;
    margin-left: 9px;
    background-color: rgb(15,15,15);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.subscriptions-button:hover{
    background-color: rgb(35,35,35);
}
.subscriptions-button:active{
    background-color: rgb(70,70,70);
}
.history1{
    width:25px;
    padding: 8px;
    background-color: rgb(115,115,115);
    border-radius: 25px;
}
.music{
    width:15px;
    padding-left: 15px;
}
.music-button{
    margin-left: 8px;
    align-items: center;
    padding-left: 8px;
    background-color:rgb(15,15,15);
    margin-top: 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.music-button:hover{
    background-color: rgb(35,35,35);
}
.music-button:active{
    background-color: rgb(70,70,70);
}
.bottom-bar{
    background-color: rgb(0, 0, 0);
    position: fixed;
    height: 55px;
    left:0;
    bottom: 0;
    right: 0;
    opacity: 0;
}
.live{
    width:25px;
    padding-left: 10px;
}

.videos-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 15px;
    row-gap: 30px;
    
}
@media (max-width:1200px) {
    .videos-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:880px) {
    .videos-container{
        grid-template-columns: 1fr 1fr;
        
    }
    .search-bar{
        width: auto;
    }
}
@media (max-width:500px) {
    .videos-container{
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
    .body{
        margin: 0px;
        padding-left: 0px;
        padding-top:70px ;
    }
    .header{
        height:60px;
    }
    .side-bar{
        width:0px;
        opacity: 0;
    }
    .bottom-bar{
        opacity: 1;
        display: flex;
        box-shadow: 0px 0px 1px 1px rgb(40, 40, 40);
        justify-content: space-between;
        background-color: rgb(15,15,15);
    }
    .home2{
        width:38px;
        display: inline-block;
    }
    .bottom-bar-text{
        color: white;
        margin-top:-3px;
        font-size: 10px;
    }
    .home2:hover{
        cursor: pointer;
    }
    .home2-button2{
        background-color: rgb(15, 15, 15);
        border:0px;
        margin: 3px 0px 0px 18px;
        padding: 0px;
    }
    .shorts2{
        width: 38px;
        margin: 4px 0px 0px 0px ;
        background-color: transparent;
    }
    .shorts2-button2{
        padding: 0px;
        background-color: transparent;
        border: 0px;
    }
    .shorts2:hover{
        cursor: pointer;
    }
    .add2{
        background-color: rgb(115,115,115);
        padding:6px;
        width:24px;
        border-radius: 20px;
        margin-top: 8px;
    }
    .subscription2{
        width:36px;
        margin: 4px 0px 0px 0px ;
    }
    .subscription2:hover{
        cursor: pointer;
    }
    .library2{
        width:36px;
        margin: 4px 20px 0px 0px ;
    }
    .library2:hover{
        cursor: pointer;
    }

    .header-left{
        width:150px;
    }
    .header-menu{
        width:0px;
        margin: 0px;
    }
    .header-middle{ 
        opacity: 1;
        z-index: 0; 
      width:0px;
    }
    .search-bar{
        opacity: 0;
        width:0px;
        height: 0px;
        padding: 0px;
        margin: 0px;
        
    }
    .middle-search{
        margin: 0px;
    }
    .search-button{
        border: 0px;
        height: 24px;
        width:24px;
        padding: 10px;
        margin-top: 11px;
        margin-bottom: 1px;
        margin-left: 1px;
        margin-right: 1 px;
        border-radius: 20px;
        background-color:transparent;
        box-shadow: 0px 0px 0px black;
    }
    .microphone{
        padding: 0px;
        opacity: 0;
        width: 0px;
        margin: 0px;
        background-color: rgb(20, 20, 20);
    }
    .header-right{
        width: 100px;
    }
    .create{
        padding: 0px;
        opacity: 0;
        width: 0px;
        margin: 0px;
    }
    .bell{
        margin-top: 13px;
        margin-left: 8px;
        margin-bottom: 8px;
    }
    .user{
        margin-top: 13px;
        margin-left: 8px;
        margin-bottom: 8px;
    }
    .create-div{
        flex:0;
    }
    .home{
        width:0px;
    }
    .shorts{
        width:0px;
    }
    .subscriptions{
        width: 0px;
    }
    .history1{
        width: 0px;
        padding: 0px;
    }
    .music{
        width: 0px;
    }
    .live{
        width: 0px;
    }
    .horizontal-scroll{
        margin-left: 11px;
        margin-right: 11px;
        padding-left: 0px;
        padding-top:2px;
        padding-bottom:0px;
    }
    .home-button{
        width: 0px;
    }
    .shorts-button{
        width:0px;
    }
    .subscriptions-button{
        width: 0px;
        padding: 0px;
    }
    .history1-button{
        width: 0px;
        padding: 0px;
    }
    .side-p{
        font-size: 0px;
    }
    .side-line{
        height: 0px;
    }
    .music-button{
        width: 0px;
        padding: 0px;
    }
    .videos-container{
        row-gap: 0px;
    }
}

.video-card{
    display: grid;
    margin:6px;
    border-radius: 20px;
    padding: 5px;
    transition: background-color 0.15s;
}
@media (max-width:350px) {
    .header-right{
        opacity: 1;
    }
}
.video-card:active{
    background-color: rgb(40,40,40);
}



.thumbnail-img{
    width: 100%;
    border-radius: 20px;
}



.descriptions{
    display: grid;
    grid-template-columns: 50px 1fr ;
    margin-top: 8px;
}



.profile-img{
    width: 40px;
    border-radius: 20px;
}



.video-title{
    color: white;
    font-family:Roboto;
    font-size:16px ;
    margin: 0px;
}



.channel-name{
    color: white;
    font-family:Arial,Roboto;
    font-size: 12px;
    margin: 8px 0px 4px 0px;
}



.video-views{
    color: white;
    font-family:Arial,Roboto;
    font-size: 12px;
    margin:0px;
}

.horizontal-scroll::-webkit-scrollbar{
    width: 0px;
    height: 10px;
    background-color: rgb(15, 15, 15);
}
.body::-webkit-scrollbar{
    width: 15px;
    background-color: rgb(15, 15, 15);
}
.side-bar::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
