.body{
    background-color:rgb(15,15,15);
    padding-left: 100px;
    padding-top: 80px;
    padding-bottom: 55px;
}


.header{
    z-index: 100;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    right:0;
    height:70px;
    box-shadow: 0px 0px 1px 1px rgb(30,30,30);
    
}
.header-left{
    display: flex;
    width:230px;
    background-color: rgb(0, 0, 0);
}
.header-menu{
    width:25px;
    height:15px;
    margin:25px 15px 25px 35px;
    cursor: pointer;
}
.header-logo{
    width:130px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.header-middle{
    flex:1;
    max-width:600px;
    background-color: rgb(0, 0, 0);
}
.header-right{
    display: flex;
    width:200px;
    background-color: rgb(0, 0, 0);
}
.create{
    width:24px;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 13px;
    margin-left: 30px;
    background-color: rgb(20, 20, 20);
    border-radius: 24px;

}
.create:hover{
    cursor: pointer;
}
.bell{
    width:24px;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 13px;
    margin-left: 5px;
    background-color: rgb(20, 20, 20);
    border-radius: 24px;
}
.bell:hover{
    cursor: pointer;
}
.user{
    width:24px;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 13px;
    margin-left: 5px;
    background-color: rgb(20, 20, 20);
    border-radius: 24px;

}
.user:hover{
    cursor: pointer;
}
.middle-search{
    flex: 1;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
}
.search-button{
    position: relative;
    width: 20px;
    padding: 10px 20px 10px 20px;
    margin-top: 16px;
    margin-left:1px;
    border: 1px;
    cursor: pointer;
    border-style: solid;
    border-radius: 0px 20px 20px 0px;
    box-shadow: inset 0px 0px 1px 1px rgb(40, 40, 40);
    border-color: rgba(255,255,255,0.20);
    background-color: rgb(35,35,35);
}
.search-form{
    background-color: black;
    padding: 0px;
    border: 0px;
}
.search-bar{
    opacity: 1;
    z-index: 50;
    color: rgb(255, 255, 255);
    padding-left: 25px;
    background-color: rgb(10,10,10);
    flex: 1;
    margin-right: -3px;
    border: 1px;
    border-style: solid;
    border-color: rgba(255,255,255,0.20);
    height:38px;
    border-radius: 20px 0px 0px 20px;
    margin-top: 16px;
}
.search-bar:focus{
    outline-style:solid;
    outline-width: 1px;
    outline-color: rgb(0, 162, 255);
}
.microphone{
    width:25px;
    height: 25px;
    margin-top: 17px;
    margin-left: 10px;
    padding: 6px 6px 6px 6px;
    border:0px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(20,20,20);
    box-shadow: inset 0px 0px 1px 1px rgb(40, 40, 40);
}
.microphone:hover{
    cursor: pointer;
}
.side-bar{
    z-index: 80;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top:60px;
    left:0;
    bottom: 0;
    width: 99px;
    box-shadow: 0px 0px 1px 1px rgb(30,30,30);
}
.home-button{
    position: relative;
}
.home{
    width:30px;
    padding: 15px;
    margin-top: 25px;
    margin-left: 11px;
    border-radius: 10px;
}
.home:hover{
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}
.home:active{
    background-color: rgb(80,80,80);
}
.shorts-button{
    position: relative;
}
.shorts{
    width:30px;
    padding: 12px 15px 12px 15px;
    margin-top: 5px;
    margin-left: 11px;
    border-radius: 10px;
}
.shorts:hover{
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}
.shorts:active{
    background-color: rgb(80,80,80);
}
.trending-button{
    position: relative;
}
.trending{
    width:30px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 11px;
    border-radius: 10px;
}
.trending:hover{
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}
.trending:active{
    background-color: rgb(80,80,80);
}
.watchlater-button{
    position: relative;
}
.watchlater{
    width:30px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 11px;
    border-radius: 10px;
}
.watchlater:hover{
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}
.watchlater:active{
    background-color: rgb(80,80,80);
}
.history{
    width:32px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 10px;
}
.history:hover{
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}
.history:active{
    background-color: rgb(80,80,80);
}
.bottom-bar{
    background-color: rgb(0, 0, 0);
    position: fixed;
    height: 45px;
    left:0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.videos-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 15px;
    row-gap: 30px;
    
}
@media (max-width:1200px) {
    .videos-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:880px) {
    .videos-container{
        grid-template-columns: 1fr 1fr;
        
    }
    .search-bar{
        width: auto;
    }
}
@media (max-width:500px) {
    .videos-container{
        grid-template-columns: 1fr;
    }
    .body{
        margin: 0px;
        padding-left: 0px;
        padding-top:70px ;
    }
    .header{
        height:60px;
    }
    .side-bar{
        width:0px;
        opacity: 0;
    }
    .bottom-bar{
        opacity: 1;
        display: flex;
        box-shadow: 0px 0px 1px 1px rgb(40, 40, 40);
        justify-content: space-between;
    }
    .home2{
        width:30px;
    }
    .home2:hover{
        cursor: pointer;
    }
    .home2-button2{
        background-color: black;
        border:0px;
        margin: 7px 0px 0px 15px;
        padding: 0px;
    }
    .shorts2{
        width:25px;
        margin: 7px 0px 0px 0px ;
    }
    .shorts2:hover{
        cursor: pointer;
    }
    .add2{
        width:40px;
    }
    .add2:hover{
        cursor: pointer;
    }
    .trending2{
        width:30px;
        margin: 7px 0px 0px 0px ;
    }
    .trending2:hover{
        cursor: pointer;
    }
    .history2{
        width:30px;
        margin: 7px 20px 0px 0px ;
    }
    .history2:hover{
        cursor: pointer;
    }

    .header-left{
        width:150px;
    }
    .header-menu{
        width:0px;
        margin: 0px;
    }
    .header-middle{ 
        opacity: 1;
        z-index: 0; 
      width:0px;
    }
    .search-bar{
        opacity: 0;
        width:0px;
        height: 0px;
        padding: 0px;
        margin: 0px;
        
    }
    .middle-search{
        margin: 0px;
    }
    .search-button{
        border: 0px;
        height: 24px;
        width:24px;
        padding: 8px;
        margin-top: 12px;
        margin-bottom: 1px;
        margin-left: 1px;
        margin-right: 1 px;
        border-radius: 20px;
        background-color:rgb(20, 20, 20);
        box-shadow: 0px 0px 0px black;
    }
    .microphone{
        padding: 0px;
        opacity: 0;
        width: 0px;
        margin: 0px;
        background-color: rgb(20, 20, 20);
    }
    .header-right{
        width: 100px;
    }
    .create{
        padding: 0px;
        opacity: 0;
        width: 0px;
        margin: 0px;
    }
    .bell{
        margin-top: 13px;
        margin-left: 8px;
        margin-bottom: 8px;
    }
    .user{
        margin-top: 13px;
        margin-left: 8px;
        margin-bottom: 8px;
    }
    .create-div{
        flex:0;
    }
    .home{
        width:0px;
        height: 0px;
        margin-left: 0px;
    }
    .home:hover{
        background-color: transparent;
    }
    .shorts{
        width:0px;
        margin: 0px;
    }
    .shorts:hover{
        background-color: transparent;
    }
    .trending{
        width:0px;
        margin: 0px;
    }
    .trending:hover{
        background-color: transparent;
    }
    .history{
        width:0px;
        margin: 0px;
    }
    .history:hover{
        background-color: transparent;
    }
    .watchlater{
        width:0px;
        margin: 0px;
    }
    .watchlater:hover{
        background-color: transparent;
    }
    
}

.video-card{
    display: grid;
    margin:6px;
    border-radius: 20px;
    padding: 5px;
    transition: background-color 0.15s;
}
@media (max-width:350px) {
    .header-right{
        opacity: 1;
    }
}
.video-card:active{
    background-color: rgb(40,40,40);
}



.thumbnail-img{
    width: 100%;
    border-radius: 20px;
}



.descriptions{
    display: grid;
    grid-template-columns: 50px 1fr ;
    margin-top: 8px;
}



.profile-img{
    width: 40px;
    border-radius: 20px;
}



.video-title{
    color: white;
    font-family:Roboto;
    font-size:16px ;
    margin: 0px;
}



.channel-name{
    color: white;
    font-family:Arial,Roboto;
    font-size: 12px;
    margin: 8px 0px 4px 0px;
}



.video-views{
    color: white;
    font-family:Arial,Roboto;
    font-size: 12px;
    margin:0px;
}

::-webkit-scrollbar{
    width: 0px;
}